# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7f43fab9c5a8c687cbcc12966d0dcbc7e11f5d1e517b5fc7a9cc5c78cee4fe1c924f3c490e2a7d31fb4af4c53932c40589e3a517c14dc72013a9a051eca20829

test:
  secret_key_base: faefb585a42a985486b009fa8750048cd8b6a23a01296b1dac3c184f1e9e895528f77484927811abf81586870b74d1b381dcf7f5b7e047db7a267da091f0f40a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
